<h1>Welcome to the Hugging is Caring App</h1>

<table>
  <thead>
    <tr>
      <th>Hug Giver</th>
      <th>Date</th>
      <th>Special Requests</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hugs.each do |hug| %>
      <tr>
        <td><%= hug.giver.username %></td>
        <td><%= hug.appointment.strftime("%F") %></td>
        <td><%= hug.special_requests %></td>
        <td><%= link_to 'Show', hug %></td>
        <td><%= link_to 'Edit', edit_hug_path(hug) %></td>
        <td><%= link_to 'Destroy', hug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create A Hug Appointment', new_hug_path %>